.bodyBackground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 400px;
    height: 450px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 5px 15px rgba(223, 0, 0, 0.35);
    border-radius: 20px;
}

.bodyBackground H1{
    padding: 30px;
    font-size: 60px;
    font-style: bold;
    font-family: 'Roboto Slab', serif;
}

.bodyBackground H3{
    padding-bottom: 10px;
    font-size: 25px;
    font-style: bold;
    font-family: 'Roboto Slab', serif;
}
.bodyBackground p{
    padding-top: 10px;
    display: flex;
    width: 200px;
}

.bodyBackground:hover{
    width: 415px;
    height: 455px;
    cursor: pointer;
}