.backgroundHome{
    display: flex;
}

.backgroundNotice{
    padding-top: 180px;
    padding-left: 100px;
}
.buttonHomeDiv{
    
    padding-top: 20px;
    padding-left: 150px;
}

.brand{
    font-size: 20px;
    font-style: bold;
    font-family: serif;
}

.bemVindo{
    font-size: 60px;
    font-style: bold;
    font-family: 'Roboto Slab', serif;
}

.notice{
    font-size: 15px;
    font-family: serif;
}

.buttonHome{
        font-style: bold;
        color: white;
        align-items: center;
        background-color: #2d2d2d;
        display: inline-flex;
        gap: 10px;
        justify-content: center;
        padding: 24px 64px;
        position: relative;
        border-radius: 15px;
        height: 60px;
      
}

.buttonHome:hover{
    background-color: blueviolet;
}

.imageBackground{
    padding: 100px;
}

.imageHome{
    width: 1000px;
}
